*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
.pytest_cache/
.mypy_cache/
.vscode/
.env
.codex
deploy/qdrant_data
deploy/redis_data
deploy/embedding_models
deploy/ollama_models
deploy/open-webui-data
deploy/deeplake_data
deploy/flowise_data
deploy/ollama_home
app/__pycache__
app/embedding_models
data



